#main-container {
    /*width:100%;
    position: fixed;*/
    border-top: 2px solid black;
}

#sidebar-container {
    width: 250px;
    float: left;
    border-right: 2px solid black;
}

#content {
    margin-left: 260px;
}