<div class="col-md-6">
  <h2 class="text-center">Add Admin</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
    
    <div class="form-group">
      <label for="userName">User Name<span>*</span></label>
      <input type="text" required formControlName="userName" placeholder="User Name" name="userName" class="form-control" id="userName">
      <p *ngIf="wrongName">User name already exist. Please, choose another User name</p>
    </div>

    <div class="form-group">
      <label for="password">Password<span>*</span></label>
      <input type="password" required  formControlName="password" placeholder="Minimun length = 6" name="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Confirm password<span>*</span></label>
      <input type="password" required formControlName="passwordConfirm" placeholder="The same password as above" name="passwordConfirm" class="form-control" id="passwordConfirm">
    </div>

    <div id="gender" class="form-group">
      <div id="genderRadio">
        <label for="gender">Gender<span>*</span></label>
        <label class="radioGender">Female</label>
        <input class="radioGender" type="radio" formControlName="gender" name="gender" value="f" required checked>
        <label class="radioGender">Male</label>
        <input class="radioGender" type="radio" formControlName="gender" name="gender" value="m" required>
      </div>      
      <div id="paraGender"><p *ngIf="noGender">Please select your gender</p></div>
    </div>
    
    

    <div class="form-group">
      <label for="email">Email address<span>*</span></label>
      <input type="email" required formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
      <p *ngIf="wrongEmail">Email already used</p>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input formControlName="phone" placeholder="Phone Number" name="phone" class="form-control" id="phone">
      <p *ngIf="wrongPhone">Phone number already used</p>
    </div>

    <div class="form-group">
      <label for="address">Address<span>*</span></label>
      <input formControlName="address" required placeholder="Address" name="address" class="form-control" id="address">
    </div>

    <div class="form-group">
      <label for="locality">Locality<span>*</span></label>
      <input formControlName="locality" required placeholder="Locality" name="locality" class="form-control" id="locality">
    </div>

    <div class="form-group">
      <label for="postalCode">Postcode<span>*</span></label>
      <input formControlName="postalCode" required placeholder="Postcode" name="postalCode" class="form-control" id="postalCode">
    </div>

    <button class="btn btn-success">Add admin</button>
    
  </form>
</div>
  