.main-right-container {
    width: auto;
    float: left;
    padding: 30px;
}

.main-right-container #left {
    width: 500px;
    float: left;
}

.main-right-container #right {
    width: auto;
    float: left;
}

#chartContainer {
    width: 500px;
}