<div class="tab">
  <button class="tablinks" (click) = "validations(event, 'profilePicture')">Profile picture</button>
  <button class="tablinks" (click) = "validations(event, 'idCard')">ID card</button>
  <button class="tablinks" (click) = "validations(event, 'vehicle')">Vehicle</button>
</div>


<div id="profilePicture" class="tabcontent">
  <h1>Picture</h1>
  <ul class="picFrame" *ngFor= "let pic of pictures">
    <li class="picValidation" *ngIf="pic.facePhotoFilename != null">
      <div>
        <img src="{{pic.facePhotoFilename}}"/>
      </div>
      <div>
          <button class="validationButton" (click)="validateProfilePicture()">Validate</button>
          <button class="validationButton" (click)="refuseProfilePicture()">Refuse</button>
      </div>

    </li>
  </ul>
</div>

<div id="idCard" class="tabcontent">
  <h1>ID card</h1>
  <ul class="picFrame" *ngFor="let pic of pictures">
    <li class="picValidation" *ngIf="pic.identityPieceFilename != null">

      <div>
          <img src="{{pic.identityPieceFilename}}"/>
      </div>
      <div>
        <button class="validationButton" (click)="validateIdCard()">Validate</button>
        <button class="validationButton" (click)="refuseIdCard()">Refuse</button>
      </div>

    </li>
  </ul>
</div>

<div id="vehicle" class="tabcontent">
  <h1>Vehicle</h1>
  <ul class="picFrame" *ngFor="let car of cars"><!-- | slice:0:10; let i=index-->
    <li class="picValidation">
      <div>
        <p><span>Owner:</span> {{user}}</p>
        <p><span>Model:</span> {{car.carModel}}</p>
        <p><span>Color:</span> {{car.color}}</p>
        <p><span>Licence plate:</span> {{car.licensePlateNumber}}</p>
      </div>
      <div id="block">
        <button class="validationButton" (click)="validaVehicle()">Validate</button>
        <button class="validationButton" (click)="refuseVehicle()">Refuse</button>
      </div>
    </li>
  </ul>
</div>