.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    
    
    border-top: none;
} 

button {
    margin: 10px;
    border: 1px solid;
    border-radius: 8px;
}

label input {
    border: 1px solid;
    border-radius: 8px;
    width: 400px;
}

.picValidation img {
    width: 200px;
    height: 200px;
}

ul {
    list-style-type: none;
}

li div {
    float: left;
}

.picValidation {
    height: 200px;
}

p {
    padding: 5px;
    padding-left: 15px;
}

span {
    font-weight: bold;
}