.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-left: 250px;
    border: 1px solid #ccc;
    border-top: none;
} 

.tab button {
    padding-right: 50px;
    font-weight: bold;
}

.picValidation img {
    width: 200px;
    height: 200px;
}

ul {
    list-style-type: none;
}

.picValidation div {
    display: inline;
}