<div class="container">
  <br>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value, Password.value)">
    <label for="uname"> Username </label>
    <input type="text" #UserName nbModel name = "UserName" placeholder="Enter Username" required>
    <br><br>
    <label for="psw">Password </label>
    <input type="password" #Password nbModel name = "Password" placeholder="Enter Password" required>
    <br><br>
    <button type="submit"> Login </button>
  </form>
  <a routerLink="mainWindow"> GO </a>
  <br>
  <a href="#">Forgot password?</a>
  <br>
</div>