<form>
  <h1>Edit user data</h1>
  
  <fieldset>
    <label for="name">User Name:</label>
    <input type="text" id="name">
    
    <label for="mail">Email:</label>
    <input type="email" id="mail">

    <label for="mail">Phone Number:</label>
    <input type="text" id="phone">

    <label for="mail">Locality:</label>
    <input type="text" id="locality">

    <label for="mail"> Trusted carpooling driver code:</label>
    <input type="text" id="codeCarpooling">
  </fieldset>
  
  <button>Validate</button>
  <button (click)="backToAllUsers()">Back</button>
</form>