<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
    <!--<div class="form-group">
      <label for="userName">User Name<span>*</span></label>
      <input type="text" required readonly formControlName="userName" placeholder="User Name" name="userName" class="form-control" id="userName">
    </div>-->

    <div class="form-group">
      <label for="email">Email address<span>*</span></label>
      <input type="email" required formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
      <p *ngIf="notValidEmail">Email not valid</p>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input formControlName="phone" placeholder="Phone Number" name="phone" class="form-control" id="phone">
      <p *ngIf="notValidPhone">Phone number not valid</p>
    </div>

    <div class="form-group">
      <label for="address">Address<span>*</span></label>
      <input formControlName="address" required placeholder="Street of 3 rivers, 7" name="address" class="form-control" id="address">
      <p *ngIf="notValidAddress">Address not valid</p>
    </div>

    <div class="form-group">
      <label for="locality">Locality<span>*</span></label>
      <input formControlName="locality" required placeholder="Locality" name="locality" class="form-control" id="locality">
      <p *ngIf="notValidLocality">Locality not valid</p>
    </div>

    <div class="form-group">
      <label for="postalCode">Postcode<span>*</span></label>
      <input formControlName="postalCode" required placeholder="Postcode" name="postalCode" class="form-control" id="postalCode">
      <p *ngIf="notValidPostalCode">Postalcode not valid</p>
    </div>

    <div class="form-group">
      <label for="trustedCarpoolingDriverCode">Trusted carpooling driver code</label>
      <input formControlName="trustedCarpoolingDriverCode" placeholder="Driver Code" name="trustedCarpoolingDriverCode" class="form-control" id="trustedCarpoolingDriverCode">
    </div>

    <button class="btn btn-success">Update</button>
    <button (click)="backToAllUsers()">Go to the user</button>
  </form>
</div>