<div class="login-page">
  <h2 class="text-center">Change Password</h2>
  <div class="form">
    <form class="login-form">
       
      <input type="password" #old_Password required placeholder="Old password" name="old_Password" class="form-control" id="old_Password">
      <p *ngIf="wrongPassword">Wrong password</p>

      <input type="password" #new_Password required placeholder="New password (Minimun length = 6)" name="new_Password" class="form-control" id="new_Password">
      <p *ngIf="passwordNotMatching">Password not matching</p>
      <p *ngIf="notValidPassword">Password not valid. Minimun length 6</p>
      <p *ngIf="old_new_password_Are_equals">Old password and new password are the same! Please, choose a new password.</p>

      <input type="password" #confirm_new_password required placeholder="Confirm new password" name="confirm_new_password" class="form-control" id="confirm_new_password">
      <p *ngIf="passwordNotMatching">Password not matching</p>
      <p *ngIf="notValidPasswordConfirm">Password not valid. Minimun length 6</p>

      <button (click)="onSubmit(old_Password.value, new_Password.value, confirm_new_password.value)">Update passoword</button>
    </form>
  </div>
</div>