<nav>
    <ul>
        <li> 
            <a routerLink="dashboard" id="dashboard" (click)="sideBar('dashboard')"> Dashboard </a> 
        </li>
        <li> 
            <a routerLink="users" id="users" (click)="sideBar('users')"> Users </a> 
        </li>
        <li> 
            <a routerLink="carpooling" id="carpooling" (click)="sideBar('carpooling')"> Carpooling </a> 
        </li>
        <!--<li> 
            <a routerLink="api-stat" id="api-stat" (click)="sideBar('api-stat')"> API Stat </a> 
        </li>-->
        <li> 
            <a routerLink="validation" id="validation" (click)="sideBar('validation')"> Validation </a> 
        </li>
    </ul>
</nav>