<div id="top">
    <div id="logo"><img src="src/assets/logo.png"></div>  

    <div id="title">
        <h1>YoungMov’</h1>
        <h2 id="titleMidlePage">{{getTitle()}}</h2>
    </div>  

    <div id="user-logout">
        <div id="userName"> <h3> {{adminName}} </h3> </div>
        <div id="menu">
            <select>
                <option> </option>
                <option (click)="logout()"> Logout </option>
                <option routerLink="changeInfoAdmin" id="changeInfoAdmin" (click)="changeTitle('password')"> Change Password </option>
                <option routerLink="add-admin" id="add-admin" (click)="changeTitle('Add')"> Add a new Admin </option>
            </select>
        </div> 
    </div>
</div>